<!doctype html>
<html lang=en-US>
  <head>
    <title><%= name %></title>
    <%- include('meta.html') %>
  </head>
  <body>
    <main role=main>
      <h1><%= name %></h1>
      <p class=type><%= type %> exercise</p>
      <% if (locals.chain) { %>
      <p class=chain><%= chain %> chain</p>
      <% } %>

      <h2 id=cues>cues</h2>
      <ul>
        <% for (const cue of cues) { %>
        <li><%= cue %></li>
        <% } %>
      </ul>

      <% if (muscles.length) { %>
      <h2 id=muscles>muscles</h2>
      <ul>
        <% for (const muscle of muscles) { %>
        <li><a href="/muscles#<%= slugify(muscle) %>"><%= muscle %></a></li>
        <% } %>
      </ul>
      <% } %>

      <% if (references.length) { %>
      <h2 id=references>references</h2>
      <ul>
        <% for (const reference of references) { %>
        <li>
          <a href="<%= reference.url %>"><%= reference.source %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (videos.length) { %>
      <h2 id=videos>videos</h2>
      <ul>
        <% for (const video of videos) { %>
        <li>
          <a href="<%= video.url %>"><%= video.source %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (progressions.length) { %>
      <h2 id=progressions>progressions</h2>
      <ul>
        <% for (const progression of progressions) { %>
        <li>
          <a href="<%= slugify(progression) %>"><%= progression %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (regressions.length) { %>
      <h2 id=regressions>regressions</h2>
      <ul>
        <% for (const regression of regressions) { %>
        <li>
          <a href="<%= slugify(regression) %>"><%= regression %></a>
        </li>
        <% } %>
      </ul>
      <% } %>
    </main>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
      <a href=/>Back to Index</a>
    </footer>
  </body>
</html>
