<!doctype html>
<html lang=en-US>
  <head>
    <title>exercises</title>
    <%- include('meta.html') %>
  </head>
  <body>
    <main role=main>
      <h1>exercises</h1>
      <ul>
        <% for (const exercise of exercises) { %>
        <li>
          <a href="<%= slugify(exercise.name) %>"><%= exercise.name %></a>
        </li>
        <% } %>
      </ul>
    </main>

    <%- include('nav.html') %>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
    </footer>
  </body>
</html>
