<!doctype html>
<html lang=en-US>
  <head>
    <title>muscles</title>
    <%- include('meta.html') %>
  </head>
  <body>
    <%- include('nav.html') %>

    <main role=main>
      <h1>muscles</h1>

      <ul>
        <% for (const muscle of Array.from(muscles.keys()).sort()) { %>
        <% const exercises = muscles.get(muscle) %>
        <li id="<%= slugify(muscle) %>">
          <%= muscle %>
          <ul>
            <% for (const exerciseName of exercises.values()) { %>
            <li>
              <a href="<%= slugify(exerciseName) %>"><%= exerciseName %></a>
            </li>
            <% } %>
          </ul>
        </li>
        <% } %>
      </ul>
    </main>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
    </footer>
  </body>
</html>
