<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>tags</title>
  </head>
  <body>
    <header role=banner>
      <h1>tags</h1>
    </header>

    <main role=main>
      <ul>
        <% for (const [ tag, exercises ] of tags.entries()) { %>
        <li id="<%= slugify(tag) %>">
          <%= tag %>
          <ul>
            <% for (const exerciseName of exercises.values()) { %>
            <li>
              <a href="<%= slugify(exerciseName) %>"><%= exerciseName %></a>
            </li>
            <% } %>
          </ul>
        </li>
        <% } %>
      </ul>
    </main>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
    </footer>
  </body>
</html>
