<!doctype html>
<html lang=en-US>
  <head>
    <title>tags</title>
    <%- include('meta.html') %>
  </head>
  <body>
    <main role=main>
      <h1>tags</h1>

      <ul>
        <% for (const tag of Array.from(tags.keys()).sort()) { %>
        <% const exercises = tags.get(tag) %>
        <li id="<%= slugify(tag) %>">
          <%= tag %>
          <ul>
            <% for (const exerciseName of exercises.values()) { %>
            <li>
              <a href="<%= slugify(exerciseName) %>"><%= exerciseName %></a>
            </li>
            <% } %>
          </ul>
        </li>
        <% } %>
      </ul>
    </main>

    <%- include('nav.html') %>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
    </footer>
  </body>
</html>
