main[role=main],
nav[role=navigation],
footer[role=contentinfo] {
  margin: 0 auto;
  max-width: 33rem;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

.todo {
  border: 1px solid darkred;
  color: darkred;
  padding: 0.25rem;
}
