<!doctype html>
<html lang=en-US>
  <head>
    <title><%= name %></title>
    <% const description = `information about the exercise ${name}` %>
    <meta name="description" content="information about the exercise <%= description %>">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= name %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:creator" content="@kemitchell">
    <meta name="og:type" content="website">
    <meta name="og:title" content="<%= name %>">
    <meta name="og:description" content="<%= description %>">
    <%- include('meta.html') %>
  </head>
  <body>
    <%- include('banner.html') %>
    <%- include('nav.html') %>

    <main role=main>
      <h2><%= name %></h2>

      <% if (synonyms.length) { %>
      <h2 id=synonyms>synonyms</h2>
      <ul>
        <% for (const synonym of synonyms) { %>
        <li><%= synonym %></li>
        <% } %>
      </ul>
      <% } %>

      <% if (locals.todo) { %>
      <aside class=todo><p>This exercise <a href="<%= github %>/edit/main/<%= file %>">needs more data</a>.</p></aside>
      <% } %>

      <p class=type><%= type %> exercise</p>
      <% if (locals.chain) { %>
      <p class=chain><%= chain %> chain</p>
      <% } %>

      <h3 id=cues>cues</h3>
      <ul>
        <% for (const cue of cues) { %>
        <li><%= cue %></li>
        <% } %>
      </ul>

      <% if (mistakes.length) { %>
      <h3 id=mistakes>common mistakes</h3>
      <ul>
        <% for (const mistake of mistakes) { %>
        <li><%= mistake %></li>
        <% } %>
      </ul>
      <% } %>

      <% if (muscles.length) { %>
      <h3 id=muscles>muscles</h3>
      <ul>
        <% for (const muscle of muscles) { %>
        <li><a href="/muscles#<%= slugify(muscle) %>"><%= muscle %></a></li>
        <% } %>
      </ul>
      <% } %>

      <% if (references.length) { %>
      <h3 id=references>references</h3>
      <ul>
        <% for (const reference of references) { %>
        <li>
          <a href="<%= reference.url %>"><%= reference.source %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (sources.length) { %>
      <h3 id=sources>sources</h3>
      <ul>
        <% for (const source of sources) { %>
        <li>
          <a href="/sources/<%= source.slug %>"><%= source.title ? `${source.source}: ` + source.title : source.source %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (alternatives.length) { %>
      <h3 id=alternatives>alternatives</h3>
      <ul>
        <% for (const alternative of alternatives) { %>
        <li>
          <a href="<%= slugify(alternative) %>"><%= alternative %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (regressions.length) { %>
      <h3 id=regressions>regressions</h3>
      <ul>
        <% for (const regression of regressions) { %>
        <li>
          <a href="<%= slugify(regression) %>"><%= regression %></a>
        </li>
        <% } %>
      </ul>
      <% } %>

      <% if (progressions.length) { %>
      <h3 id=progressions>progressions</h3>
      <ul>
        <% for (const progression of progressions) { %>
        <li>
          <a href="<%= slugify(progression) %>"><%= progression %></a>
        </li>
        <% } %>
      </ul>
      <% } %>
      
      <% if (tags.length) { %>
      <h3 id=tags>tags</h3>
      <ul>
        <% for (const tag of tags) { %>
        <li>
          <a href="/tags#<%= slugify(tag) %>"><%= slugify(tag) %></a>
        </li>
        <% } %>
      </ul>
      <% } %>
    </main>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
    </footer>
  </body>
</html>
