<!doctype html>
<html lang=en-US>
  <head>
    <title>exercises</title>
    <%- include('meta.html') %>
  </head>
  <body>
    <%- include('banner.html') %>
    <%- include('nav.html') %>

    <main role=main>
      <ul>
        <% for (const exercise of exercises) { %>
        <li>
          <a href="<%= slugify(exercise.name) %>"><%= exercise.name %></a>
          <% if (exercise.synonyms.length) { %>
          (a.k.a. <%= exercise.synonyms.map(slugify).join(', ') %>)
          <% } %>
        </li>
        <% } %>
      </ul>
    </main>

    <footer role=contentinfo>
      <p class=updated>last updated <%= updated.toISOString() %></p>
    </footer>
  </body>
</html>
